
body, p, a, h2, h3, h4, h5, h6 {
    font-family: 'Cuprum', sans-serif;
    color: #333;
}

ul > li {
    list-style: none;
    transition: 0.5s
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

h2 {
    font-family: 'Cuprum', sans-serif !important;
}

nav.top {
    height: 45px;
    line-height: 45px;
    background-color: #FFF;
    padding-left: 30px;
    padding-right: 30px;
}

nav.top a {
    font-size: 25px;
    color: #CCC;
    transition: 0.5s;
}

nav.top a:hover {
    color: #C26969;
}

nav.top ul.clock {
    float: right;
    line-height: 45px;
}

ul.clock > li > a {
    font-family: 'Ubuntu Mono';
}

nav.main {
    height: 65px;
    background-color: #DDD;
    padding-left: 30px;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #CCC;
}

nav.main li:hover {
    background-color: #EEE;
    cursor: pointer;
}

a#title {
    font-family: 'Lobster', sans-serif !important;
    font-size: 45px !important;
    transition: 0.5s;
}

a#title:after { content: "®";
    margin-left: 7px;
    vertical-align: top;
    font-size: 0.4em;
}

#header .right {
    position: absolute;
    top: 45px;
    right: 0;
    list-style-type: none;
    float: right;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 18px;
}

#header .right li {
    position: relative;
    float: left;
    border-right: 1px solid #CCC;
    padding-left: 20px;
    padding-right: 20px;
    /*cursor: pointer;*/
}

#header .right li.active a {
    font-weight: bold;
    color: #E71646;
}

#header .right li.start:hover {
    background-color: #DF8469;
}

#header .right li.start {
    background-color: #EF5B2F;
}

#header .right li.start a {
    color: #FFF;
}

.TinyRow {
  text-align: center;
}

.Song {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #EF00EF;
  font-size: 1.5em;
  background-color: #EDEDC0;
  transition: 0.5s;
  width: 80%;
}

.CDPic {
  width: 60px;
  height: auto;
  margin: 0;
  padding: 0;
}

.SongInfo {
  position: absolute;
  top: 0;
  left: 30px;
}

.FunctionList {
  height: 60px;
  width: 250px;
  background-color: #E0D0E0;
  float: right;
}

#topList img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 1000px) {
  #header .right li:not(.start){
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #header .clock {
    display: none;
  }
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: #242424;
}

footer a, p, h1, h2, h3 {
  color: #BBB;
}

footer a {
  font-size: 1.5em;
}

footer li {
  position: relative;
  /*float: left;*/
  margin-left: 15px;
  margin-right: 15px;
}

.copy {
  clear: both;
}


.FooterMenuDiv {
  float: left;
}
