/* basic style */
$orange: #EF5B2F;
$pink: #E71646;
$footerBC: #242424;
$footerC: #BBB;
$mainBlack: #333;

$barHeight: 45px;
$topHeight: 65px;

@mixin roundBorder($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body, p, a, h2, h3, h4, h5, h6 {
  font-family: 'Cuprum', sans-serif;
  color: $mainBlack;
}

ul > li {
  list-style: none;
  transition: 0.5s
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

div, img, figure {
  @include roundBorder();
}

#ting {
  div{
    position: relative;
    background-color: #FFE6D9;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    // height: 800px;
    overflow: hidden;
    transition: 0.5s;
    img {
      transition: 0.5s;
    }
    figure {
      transition: all 0.5s;
      opacity: 1;
    }
    &:hover{
      opacity: 0.8;
      img.cover {
        transform: rotate(-15deg);
      }
      ul.referButton {
        transform: translate(0,0);
      }
      figcaption {
        transform: scale(1.2, 1.2);
      }
      img.contentPicture {
        transform: scale(1.1, 1.1);
      }
    }
    img.contentPicture {
      height: 100%;
      width: 100%;
    }
    img.cover {
      transform-origin: 0 0;
      transition: 0.5s;
      opacity: 0.9;
      position: absolute;
      top:100%;
      height: 100%;
      width: 200%;
    }
    figcaption {
      h1 {
        font-size: 4em;
      }
      p {
        font-size: 2em;
      }
      color: #fff;
      position: absolute;
      top: 10%;
      left: 10%;
      transition: 0.4s;
    }
    ul.referButton {
      li{
        margin-left: 20px;
        float: left;
        a {
          font-size: 60px;
        }
      }
      transition: 0.3s;
      transform: translate(0, 100px);
      transform-delay: 0.1s;
      position: absolute;
      right: 50px;
      bottom: 10px;
    }
  }
}

/* navigation */

nav.top {
  height: $barHeight;
  line-height: $barHeight;
  background-color: #FFF;
  padding-left: 60px;
  padding-right: 60px;
  a {
    font-size: 25px;
    color: #CCC;
    transition: 0.5s;
    &:hover {
      color: #C26969;
    }
  }
  h2 {
    font-family: 'Cuprum', sans-serif !important;
  }
  ul.clock {
    float: right;
    a {
      font-family: 'Ubuntu Mono';
    }
  }
}

nav.main {
  height: $topHeight;
  background-color: #DDD;
  padding-left: 60px;
  border-style: solid none solid none;
  border-width: 1px;
  border-color: #CCC;
  li:hover {
    background-color: #EEE;
    cursor: pointer;
  }
}


a#title {
  font-family: 'Lobster', sans-serif !important;
  font-size: 45px !important;
  transition: 0.5s;
  &:after{
    content: '®';
    margin-left: 7px;
    vertical-align: top;
    font-size: 0.4em;
  }
}

#header .right {
  position: absolute;
  top: $barHeight;
  right: 0;
  float: right;
  text-transform: uppercase;
  line-height: $topHeight;
  font-size: 18px;
  li {
    position: relative;
    float: left;
    border-right: 1px solid #CCC;
    padding-left: 20px;
    padding-right: 20px;
    &.active a {
      font-weight: bold;
      color: $pink;
    }
    &.start {
      background-color: $orange;
      a { color: white; }
      &:hover{
        background-color: lighten($orange, 10%);
      }
    }
  }
}

/* for responsive webpage */
@media screen and (max-width: 1000px) {
  #header .right li:not(.start){
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #header .clock {
    display: none;
  }
}

/* active pictures */

.TinyRow {
  text-align: center;
}

#owlSection {
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#carousel {
  div.item {
    height: auto;
    width: auto;
    // background-color: $pink;
  }
  .owl-item {
    margin: 5px;
  }
  img {
    width: 220px;
    height: 130px;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

/* song lists */

.Song {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #EF00EF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: #EDEDC0;
  transition: 0.5s;
  width: 100%;
}

.CDPic {
  width: 60px;
  height: auto;
  margin: 0;
  padding: 0;
}

.SongInfo {
  position: absolute;
  top: 0;
  left: 30px;
}

.FunctionList {
  height: 60px;
  width: 250px;
  background-color: #E0D0E0;
  float: right;
}

#topList img {
  width: 60px;
  height: 60px;
}

/* footer */


footer {
  /*opacity: 0;*/
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  bottom: 0;
  position: relative;
  background-color: $footerBC;
  a, p, h1, h2, h3 {
    color: $footerC;
  }
  a {
    font-size: 1.5em;
  }
  li {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.copy {
  clear: both;
}

.FooterMenuDiv {
  float: left;
}
